/pointers/dist/
/pointers/build/
/stringFunctionDemo/build/
/stringFunctionDemo/dist/
/pointerAndArray/build/
/pointerAndArray/dist/
/ArrayOfString/build/
/ArrayOfString/dist/
/2DArray/build/
/2DArray/dist/
/ArrayAsFunactionParameter/build/
/ArrayAsFunactionParameter/dist/
/maxminavg/dist/
/maxminavg/build/
/simpileArray/build/
/simpileArray/dist/
/structureDemo1/dist/
/structureDemo1/build/
/structAsPara/build/
/structAsPara/dist/
/union/build/
/union/dist/
/FileHandlingStruct/build/
/FileHandlingStruct/dist/
/BitField/build/
/BitField/dist/
/FileReadWriteCharacter/build/
/FileReadWriteCharacter/dist/